<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="utf-8">
	<script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
	##<script src="/js/jquery.min.js"></script>
	<script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
	##<script src="/js/bootstrap.min.js"></script>
	<script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
	
	
	
	<link href="http://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
	##<link href="/css/bootstrap.min.css" rel="stylesheet">

	<link href="http://how2j.cn/study/css/back/style.css" rel="stylesheet">
	
	
	
	
</head>