<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.tmall.server.product.dao.db0.DB0TmallPropertyValueDao">
	<resultMap id="BaseResultMap"
		type="com.tmall.server.product.common.model.TmallPropertyValue">
		<id column="property_value_id" jdbcType="BIGINT"
			property="propertyValueId" />
		<result column="property_id" jdbcType="INTEGER"
			property="propertyId" />
		<result column="property_value" jdbcType="VARCHAR"
			property="propertyValue" />
		<result column="property_dis_seq" jdbcType="INTEGER"
			property="propertyDisSeq" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		property_value_id, property_id, property_value,
		property_dis_seq
	</sql>

	<select id="selectByExample"
		parameterType="com.tmall.server.product.common.model.TmallPropertyValueExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from ${tableName}
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="start != null ">
			limit #{start}
			<if test="end != null ">
				,#{end}
			</if>
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ${tableName}
		where property_value_id =
		#{propertyValueId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		${tableName}
		where property_value_id =
		#{propertyValueId,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.tmall.server.product.common.model.TmallPropertyValueExample">
		delete from ${tableName}
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insertBatchSelective">
		insert into ${tableName}
		(property_value_id,property_id,property_value,property_dis_seq)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.propertyValueId},#{item.propertyId},#{item.propertyValue},#{item.propertyDisSeq})
		</foreach>
		on duplicate key update property_value=#{item.propertyValue},property_dis_seq=#{item.propertyDisSeq}
	</insert>
	<insert id="insert"
		parameterType="com.tmall.server.product.common.model.TmallPropertyValue">
		insert into ${tableName} (property_value_id,
		property_id,
		property_value,
		property_dis_seq)
		values
		(#{propertyValueId,jdbcType=BIGINT}, #{propertyId,jdbcType=INTEGER},
		#{propertyValue,jdbcType=VARCHAR},
		#{propertyDisSeq,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective"
		parameterType="com.tmall.server.product.common.model.TmallPropertyValue">
		insert into ${tableName}
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="propertyValueId != null">
				property_value_id,
			</if>
			<if test="propertyId != null">
				property_id,
			</if>
			<if test="propertyValue != null">
				property_value,
			</if>
			<if test="propertyDisSeq != null">
				property_dis_seq,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="propertyValueId != null">
				#{propertyValueId,jdbcType=BIGINT},
			</if>
			<if test="propertyId != null">
				#{propertyId,jdbcType=INTEGER},
			</if>
			<if test="propertyValue != null">
				#{propertyValue,jdbcType=VARCHAR},
			</if>
			<if test="propertyDisSeq != null">
				#{propertyDisSeq,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.tmall.server.product.common.model.TmallPropertyValueExample"
		resultType="java.lang.Long">
		select count(*) from ${tableName}
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update ${tableName}
		<set>
			<if test="record.propertyValueId != null">
				property_value_id =
				#{record.propertyValueId,jdbcType=BIGINT},
			</if>
			<if test="record.propertyId != null">
				property_id = #{record.propertyId,jdbcType=INTEGER},
			</if>
			<if test="record.propertyValue != null">
				property_value =
				#{record.propertyValue,jdbcType=VARCHAR},
			</if>
			<if test="record.propertyDisSeq != null">
				property_dis_seq =
				#{record.propertyDisSeq,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update ${tableName}
		set property_value_id =
		#{record.propertyValueId,jdbcType=BIGINT},
		property_id =
		#{record.propertyId,jdbcType=INTEGER},
		property_value =
		#{record.propertyValue,jdbcType=VARCHAR},
		property_dis_seq =
		#{record.propertyDisSeq,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.tmall.server.product.common.model.TmallPropertyValue">
		update ${tableName}
		<set>
			<if test="propertyId != null">
				property_id = #{propertyId,jdbcType=INTEGER},
			</if>
			<if test="propertyValue != null">
				property_value = #{propertyValue,jdbcType=VARCHAR},
			</if>
			<if test="propertyDisSeq != null">
				property_dis_seq = #{propertyDisSeq,jdbcType=INTEGER},
			</if>
		</set>
		where property_value_id = #{propertyValueId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.tmall.server.product.common.model.TmallPropertyValue">
		update ${tableName}
		set property_id =
		#{propertyId,jdbcType=INTEGER},
		property_value =
		#{propertyValue,jdbcType=VARCHAR},
		property_dis_seq =
		#{propertyDisSeq,jdbcType=INTEGER}
		where property_value_id =
		#{propertyValueId,jdbcType=BIGINT}
	</update>
</mapper>