<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tmall.server.product.dao.ProductDao">

	<insert id="addProduct"
		parameterType="com.tmall.common.dto.ProductDTO"
		useGeneratedKeys="true" keyProperty="productId">
		insert into tmall_product
		(
		<if test="null!=productId">product_id,</if>
		category_id,brand_id,product_name,product_status,product_desc,product_after_sell,product_sub_title,update_date)
		values
		(
		<if test="null!=productId">#{productId},</if>

		#{categoryId},#{brandId},#{productName},#{productStatus},#{productDesc},#{productAfterSell},#{productSubTitle},#{updateDate})
		on duplicate key update update_date=#{updateDate}
		<if test="null!=pictureId and ''!=pictureId">,picture_id=#{pictureId}</if>
	</insert>
</mapper>