<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper
	namespace="com.tmall.server.product.dao.count.PropertyCountDao">
	<select id="countPropertyInCatIds"
		parameterType="java.util.List" resultType="java.lang.Integer">
		select count(1) from tmall_category_property where category_id in
		<foreach collection="list" index="index" open="(" close=")"
			separator="," item="categoryId">
			#{categoryId}
		</foreach>
	</select>
</mapper>


