<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.tmall.server.product.dao.PropertyDao">

	<select id="findPropertiesInCatIds"
		parameterType="java.util.List"
		resultType="com.tmall.common.dto.PropertyDTO">
		select a.property_id,b.property_name from 
		tmall_category_property a,tmall_property b
		where a.property_id=b.property_id and
		a.category_id in
		<foreach collection="list" index="index" open="("
			close=")" separator="," item="categoryId">
			#{categoryId}
		</foreach>

	</select>








</mapper>