<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/css/style_others.css">
	<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
</head>

<script>
	
	function addBrand(){
		$("#brandForm").submit();
		jQuery.post('/admin/api/v1/auth/brand/add',$("#brandForm").serialize(),function(data){
			
			alert(data.msg);			
			if(data.code==1){
				location.reload();
			}
			
		
		},'json');
	}


</script>
<body class="hold-transition skin-red sidebar-mini">
	<form name="pageForm" method="get" action="/admin/brand/all">
		<input type="hidden" name="pageNum">
		
	
	</form>
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">品牌管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>           
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
							                                         
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">品牌ID</th>
									      <th class="sorting">品牌名称</th>									      
									      <th class="sorting">品牌描述</th>	
									      <th class="sorting">品牌所属分类</th>									     				
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                      <#if pageVO??>
									<#list pageVO.data as item>			                      
										 <tr>
			                              <td><input  type="checkbox" ></td>			                              
				                          <td>${item.brandId}</td>
									      <td>${item.brandName}</td>									     
		                                  <td>${item.brandDesc}</td>
		                                  <td>${item.brandTypeName}</td>		                                 
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"  >修改</button>                                           
		                                  </td>
			                          	</tr>
									</#list>
			                      <#else>
			                     	无符合条件的记录
			                      </#if>
			                         
			                      </tbody>
			                  </table>
			                  
			                 <#if pageVO.pageNum<=1><a href="javascript:void(0)">第一页</a><a href="javascript:void(0)">上一页</a> 
			                 <#else>
			                 	<a href="javascript:document.pageForm.pageNum.value=1;document.pageForm.submit();">第一页</a> <a href="javascript:document.pageForm.pageNum.value=(${pageVO.pageNum}-1);document.pageForm.submit();">上一页</a>
			                 </#if> 
			                 
			                 <#if ((pageVO.pageNum)>=(pageVO.maxPage))><a href="javascript:void(0)">下一页</a><a href="javascript:void(0)">最后一页</a>
			                 <#else> 
			                 	<a href="javascript:document.pageForm.pageNum.value=(${pageVO.pageNum}+1);document.pageForm.submit();">下一页</a>
			                 	<a href="javascript:document.pageForm.pageNum.value=${pageVO.maxPage};document.pageForm.submit();">最后一页</a>
			                 </#if>
			                 总共有${pageVO.totalCount} 条记录, ${pageVO.pageNum}/${pageVO.maxPage} 
			                  <!--数据列表/-->                        
                        </div>
                        <!-- 数据表格 /-->
                     </div>
                    <!-- /.box-body -->
         
         
<form method="post"  id="brandForm" name="brandForm" action="/admin/api/v1/auth/brand/add">
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">品牌编辑</h3>
		</div>
		<div class="modal-body">		
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>品牌名称</td>
		      		<td><input  class="form-control" placeholder="品牌名称" name="brandName">  </td>
		      	</tr>		      	
		      	<tr>
		      		<td>品牌描述</td>
		      		<td><input  class="form-control" placeholder="品牌描述" name="brandDesc">  </td>
		      	</tr>
		      	 <tr>
		      		<td>品牌排序序列号</td>
		      		<td><input  class="form-control" placeholder="序列号,大小不超过100" name="">  </td>
		      	</tr>
		      	      	
			 </table>				
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="addBrand()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
</form>
   
</body>
</html>