<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品分类管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/css/style.css">
	<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    
</head>
<script>


	function searchKey(){
		document.pageForm.pageNum.value=1;
		document.pageForm.searchKey.value=$("#searchKey").val();
		document.pageForm.submit();	
	}


</script>

<body class="hold-transition skin-red sidebar-mini" >
  <!-- .box-body -->
                <form name="pageForm" method="get" action="/admin/category/all">
                	<input type="hidden" name="pageSize" >
                	<input type="hidden" name="pageNum" value="${pageVO.pageNum!"1"}">
                	<input type="hidden" name="searchKey" value="${key!""}">
                </form>
                    <div class="box-header with-border">
                        <h3 class="box-title">商品分类管理     
                       	</h3>
                    </div>

                    <div class="box-body">
                  			 <ol class="breadcrumb">	                        	
                        		<li>
		                        	<a href="#" >顶级分类列表</a> 
		                        </li>
		                        <li>
		                       		<a href="#" >珠宝</a>
		                        </li>
		                        <li>
		                        	<a href="#" >银饰</a>
		                        </li>
	                        </ol>

                        <!-- 数据表格 -->
                        <div class="table-box">
							
                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="刷新" ><i class="fa fa-check"></i> 刷新</button>
                                       	<input type="text"  placeholder="可通过分类名称,分类id查询" name="searchKey" id="searchKey">
                                       	<button type="button" class="btn btn-default" title="查询" onclick="search()"><i class="fa fa-check"></i> 查询</button>
                                    </div>
                                </div>
                            </div>                          
                       		
                        
			                <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">分类ID</th>
									      <th class="sorting">分类名称</th>			
									      <th class="sorting">分类排序码</th>						
									      <th class="sorting">分类状态</th>						
									      <th class="sorting">创建人</th>												   
									      <th class="sorting">最近一次操作人</th>		
									   <#--  <th class="sorting">类型模板ID</th> -->  
									      <th class="sorting">创建时间</th>		
									      <th class="sorting">更新时间</th>		
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                	<#if pageVO.data??>
			                      <tbody>
			                 
			                      	<#list pageVO.data as item>
				                      	<tr>
				                              <td><input  type="checkbox" ></td>			                              
					                          <td>${item.categoryId}</td>
										      <td>${item.categoryName}</td>									    
										      <td>
										      	${item.categoryDisSeq!"0"}  
										      </td>				
										      <td>
										      	<#if item.status==0>
										      		下架
										      	<#else>
										      		上架
										      	</#if>
										      </td>
										      <td>
										      	${item.creator}
										      </td>
										      <td>
										      	${item.lastOperator!""}
										      </td>
										      <td>
										      	${item.createDate?string('yyyy-MM-dd HH:mm:ss')}
										      </td>
										       <td>
										      	${item.updateDate?string('yyyy-MM-dd HH:mm:ss')}
										      </td>
									    <#--<th class="sorting">类型模板ID</th>  -->  
			                                  <td class="text-center">		                                     
			                                      <button type="button" class="btn bg-olive btn-xs" >查询下级</button> 		                                     
			                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" >修改</button>                                           
			                                  </td>
				                          </tr>
			                         </#list>
			                      </tbody>
			                  </table>
			                  	<#if (pageVO.pageNum<1) > 
										<a href="javascript:void(0)">第一页</a><a href="javascript:void(0)">上一页</a>	
									<#else>
										<a href="javascript:document.pageForm.pageNum.value=1;document.pageForm.submit();">第一页</a>
										<a href="javascript:document.pageForm.pageNum.value=pageVO.pageNum+1;document.pageForm.submit()">上一页</a>
									</#if>			
									<#if (pageVO.pageNum>=pageVO.maxPage)> 
										<a href="javascript:void(0)">下一页</a> <a href="javascript:void(0)">最后一页</a>
									 <#else>
										 <a href="javascript:document.pageForm.pageNum.value=(${pageVO.pageNum}+1);document.pageForm.submit();">下一页</a>
										 <a href="javascript:document.pageForm.pageNum.value=${pageVO.maxPage};document.pageForm.submit();">最后一页</a> 								
		                     		</#if>
			                      <#else>
			                      	暂无数据
			                      </#if>
			                      当前第${pageVO.pageNum}页,总共有${pageVO.maxPage}页
			                  <!--数据列表/-->                      
                        </div>
                        <!-- 数据表格 /-->
                     </div>
                    <!-- /.box-body -->
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">商品分类编辑</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
				<tr>
		      		<td>上级商品分类</td>
		      		<td>
		      		   珠宝 >>  银饰
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>商品分类名称</td>
		      		<td><input  class="form-control" placeholder="商品分类名称">  </td>
		      	</tr>			  
		      	<tr>
		      		<td>类型模板</td>
		      		<td>	      		
		      			<input select2 config="options['type_template']" placeholder="商品类型模板" class="form-control" type="text"/>
		      		</td>		      		      		
		      	</tr>		      	
			 </table>				
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
</body>
</html>