<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>规格管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/css/style.css">
	<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    
</head>
<script type="text/javascript">
	var index=0;
	var delValueIds="";
	var updateIds="";
	var totalValueIds="";
	function addPropValue(value,disSeq,valueId){
		if(value==null){
			value="";		
		}
		if(disSeq==null || disSeq==undefined){
			disSeq=0;
		}
		if(valueId==null || valueId==undefined){
			valueId=-1;
		}
		//这里需要考虑的三种情况:1.增加规格 2.删除已有规格 3.修改已有规格
		index++;
		var str=' <tr id="tr'+index+'"><td><input  class="form-control" name="propertyValue" propertyValueId="'+valueId+'" oninput="add2UpdateIds(this)" placeholder="规格选项" value="'+value+'"><input type="hidden" name="propertyValueId" value="'+valueId+'"></td><td><input  class="form-control" name="propertyValueDisSeq" placeholder="排序" value="'+disSeq+'"> </td><td><button type="button" class="btn btn-default" title="删除" onclick="remove('+index+')"><i class="fa fa-trash-o"></i> 删除</button></td></tr>';
		$(".valueBody").append(str);
	}
	function add2UpdateIds(obj){
		var propertyValueId=$(obj).attr("propertyValueId");
		if(propertyValueId==null||propertyValueId==undefined){
			return;
		}
		updateIds+=propertyValueId+",";
	}
	function save(){
		alert($("#propetyForm").serialize());
		var data=$("#propetyForm").serialize();
		jQuery.post('/admin/api/v1/property/addOrUpdate',data,function(data,textStauts,jqXHR){
			alert(data.msg);
			if(data.code==1){
				location.reload();
			}
		},'json');
	}
	function updateSave(obj){
		if(delValueIds!=null && delValueIds !=undefined && delValueIds !=""){
			$("#deleteIds").val(deleteIds);
		}
		if(updateIds!=null && updateIds !=undefined && updateIds !=""){
			$("#updateIds").val(updateIds);
		}
		var data=$("#updatePropertyForm").serialize();
		jQuery.get('/admin/api/v1/property/update',data,function(data){
			alert(data.msg);
			if(data.code==1){
				location.reload();
			}
		},'json');
	}
	function remove(index,valueId){
		var id="#tr"+index;
		if(valueId!=null && valueId!=undefined){
			//记录删除的id
			delValueId+=valueId+",";
		}
		$(id).remove();
	}
	function showPropertyValues(pid){
	$(".valueBody").empty();	
	$("#updatePropertyId").val(pid);
		delValueId="";
		updateIds="";
		jQuery.get('/admin/api/v1/property/'+pid+'/values',function(data){
			if(data.code==1){
				var property=data.data;
				$("#propertyName").val(property.propertyName);
				var values=data.data.values;
				index=0;
				if(values!=null && values.length>0){
					for(var i=0;i<values.length;i++){
						var v=values[i];
						addPropValue(v.propertyValue,v.propertyDisSeq,v.propertyValueId);
					}
				}
			}else{
				alert(data.msg);
			}
		},'json');
	}
</script>


<body class="hold-transition skin-red sidebar-mini" >
<form name="pageForm" method="post">
	<input type="hidden" name="pageNum" value="${pageNum!""}">
	<input type="hidden" name="searchKey" value="${searchKey!""}">

</form>
  <!-- .box-body -->                
                    <div class="box-header with-border">
                        <h3 class="box-title">规格管理</h3>
                    </div>
                    <div class="box-body">
                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" onclick='javascript:$(".valueBody").empty();'><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                        
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
							                    规格名称：<input type="text" name="searchKey"  >									
									<button class="btn btn-default" >查询</button>                                    
                                </div>
                            </div>
                            <!--工具栏/-->
			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">规格ID</th>
									      <th class="sorting">规格名称</th>									     												
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                      <#if pageVO??>
			                      	<#if pageVO.data??>
			                      		<#list pageVO.data as item>
				                          <tr >
				                              <td><input  type="checkbox" ></td>			                              
					                          <td>${item.propertyId?c}</td>
										      <td>${item.propertyName}</td>
			                                  <td class="text-center">                                           
			                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#updateModel" onclick="showPropertyValues(${item.propertyId?c})">修改</button>                                           
			                                  </td>
				                          </tr>
			                          	</#list>>
			                          <#else> 无数据
			                          </#if>
			                      </tbody>
			                  </table>
			 <#if (pageVO.pageNum<1) > <a href="javascript:void(0)">第一页</a><a href="javascript:void(0)">上一页</a> 
			<#else> <a href="javascript:document.pageForm.pageNum.value=1;document.pageForm.submit();">第一页</a><a href="javascript:document.pageForm.pageNum.value=(${pageVO.pageNum}-1);document.pageForm.submit()">上一页</a></#if>
			<#if (pageVO.pageNum>=pageVO.maxPage)> 
			<a href="javascript:void(0)">下一页</a> <a href="javascript:void(0)">最后一页</a>
			<#else> <a href="javascript:document.pageForm.pageNum.value=(${pageVO.pageNum}+1);document.pageForm.submit();">下一页</a>
			<a href="javascript:document.pageForm.pageNum.value=${pageVO.maxPage};document.pageForm.submit();">最后一页</a>
			</#if>
			<#else> 暂无数据 
			</#if> 
			当前第${pageVO.pageNum}页,总共有${pageVO.maxPage}页 ,共有 ${pageVO.totalCount} 条记录<!--数据列表/-->
                        </div>
                     </div>
	          		    
                                
<form method="post" name="propertyForm" action="/admin/api/v1/property/addOrUpdate" id="propetyForm">

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">规格编辑</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>规格名称</td>
		      		<td><input  class="form-control" name="propertyName" placeholder="规格名称" id="propertyName">  </td>
		      	</tr>
			 </table>				
			 
			 <!-- 规格选项 -->
			 <div class="btn-group">
                  <button type="button" class="btn btn-default" title="新建"  onclick='addPropValue()'><i class="fa fa-file-o"></i> 新增规格选项</button>
                  
             </div>
			 
			 <table class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                        <tr>
				      <th class="sorting">规格选项</th>
				      <th class="sorting">排序</th>																
                      <th class="sorting">操作</th>	
                    </thead>
                    <tbody class="valueBody">
                   
                    </tbody>
			  </table> 
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="save()">保存</button>

			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>    
</form> 
<form method="get" name="propertyForm" action="/admin/api/v1/property/addOrUpdate" id="updatePropertyForm">
<!-- 编辑窗口 -->
<div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">规格编辑</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>规格名称</td>
		      		<td><input  class="form-control" name="propertyName" placeholder="规格名称" id="propertyName">  </td>
		      	</tr>
			 </table>				
			 
			 <!-- 规格选项 -->
			 <div class="btn-group">
                  <button type="button" class="btn btn-default" title="新建"  onclick='addPropValue()'><i class="fa fa-file-o"></i> 新增规格选项</button>
                  
             </div>
			 
			 <table class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                        <tr>
				      <th class="sorting">规格选项</th>
				      <th class="sorting">排序</th>																
                      <th class="sorting">操作</th>	
                    </thead>
                    <tbody class="valueBody">
                   
                    </tbody>
			  </table> 
		</div>
		<div class="modal-footer">		
			<input type="hidden" name="deleteIds" id="deleteIds">				
			<input type="hidden" name="updateIds" id="updateIds">
			<input type="hidden" name="propertyId" id="updatePropertyId">
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="updateSave()">保存</button>

			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>    
</form> 
</body>

</html>